{% extends 'bases.html' %}

{% block title %}Turnos Pendientes{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Últimos Turnos Pendientes</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Número de Turno</th>
                    <th>Hora de Creación</th>
                    <th>Estado</th>
                    <th>Usuario</th>
                </tr>
            </thead>
            <tbody>
                {% for turno in turnos %}
                <tr>
                    <td>{{ turno.id }}</td>
                    <td>{{ turno.numero_Turno }}</td>
                    <td>{{ turno.hora_creacion_turno }}</td>
                    <td>{{ turno.estado }}</td>
                    <td>{{ turno.usuario.nombres }} {{ turno.usuario.apellidos }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="text-center">No hay turnos pendientes.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'listar_turnos' %}" class="btn btn-primary">Regresar</a>
</div>
{% endblock %}