{% extends 'bases.html' %}

{% block title %}Eliminar Turno{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Lista de Turnos</h1>
        <div class="card mb-4">
            <div class="card-body">
                <table class="table table-hover table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Estado</th>
                            <th>Hora de Creación</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for turno in turnos %}
                            <tr>
                                <td>{{ turno.id }}</td>
                                <td>{{ turno.estado }}</td>
                                <td>{{ turno.hora_creacion_turno }}</td>
                                <td>
                                    <a href="{% url 'editar_turno' turno.id %}" class="btn btn-warning btn-sm">Editar</a>
                                    <a href="{% url 'eliminar_turno' turno.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="text-center">
            <a href="{% url 'crear_turno' %}" class="btn btn-primary btn-lg btn-block shadow" style="transition: background-color 0.3s, transform 0.2s;">
                <i class="fas fa-plus"></i> Crear nuevo turno
            </a>
        </div>
</div>
{% endblock %}
