{% extends 'base.html' %}

{% block title %}Lista de Usuarios Anónimos{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Lista de Usuarios (Anónimos)</h1>
    <div class="row">
        {% for usuario in usuarios %}
            <div class="col-md-4">
                <div class="usuario text-center">
                    {% if usuario.foto %}
                        <img src="{{ usuario.foto.url }}" alt="Imagen de usuario" class="imagen img-fluid">
                    {% else %}
                        <p>No hay imagen disponible.</p>
                    {% endif %}
                    <p><strong>Número de identificación:</strong> {{ usuario.numero_identificacion }}</p>
                    <p><strong>Número de celular:</strong> {{ usuario.numero_celular }}</p>
                    <p><strong>Staff:</strong> {{ usuario.staff }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
